In [20]:
import tushare as ts
import pandas as pd

In [21]:
pro = ts.pro_api('502bcbdbac29edf1c42ed84d5f9bd24d63af6631919820366f53e5d4')

In [30]:
df = pro.index_basic(market='CSI')

In [31]:
df

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000171.CSI,新兴成指,CSI,中证指数有限公司,主题指数,20101231,1000.0,20170125
1,000188.CSI,中国波指(退市),CSI,中证指数有限公司,主题指数,None,NaN,20161128
2,000300HKD00.CSI,沪深300HKD,CSI,中证指数有限公司,规模指数,20041231,1000.0,20050408
3,000300HKD01.CSI,沪深300(全)HKD,CSI,中证指数有限公司,规模指数,20041231,1000.0,20050408
4,000300HKD02.CSI,沪深300(净)HKD,CSI,中证指数有限公司,规模指数,20041231,1000.0,20050408
...,...,...,...,...,...,...,...,...
3746,n99305.CSI,三板消费全收益,CSI,中证指数有限公司,主题指数,20181220,1000.0,20190422
3747,n99306.CSI,三板研发全收益,CSI,中证指数有限公司,主题指数,20181220,1000.0,20190422
3748,n99307.CSI,三板活跃全收益,CSI,中证指数有限公司,主题指数,20181220,1000.0,20190422
3749,s00972.CSI,300深市全收益,CSI,中证指数有限公司,主题指数,20041231,1000.0,20120621
3750,SHHKSI.CSI,沪港通AH股精明,CSI,中证指数有限公司,策略指数,20140409,5000.0,20141117

In [32]:
df.to_csv('index_basic_csi.csv')

In [22]:
df.to_csv('index_basic_sse.csv')

In [23]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{}:{}@{}/{}".format('root', 'root', '127.0.0.1', 'quant'))

In [24]:
con = engine.connect()

In [25]:
df.to_sql(name='index_basic_sse', con=con, if_exists='append', index=False)

546

In [28]:
sql_cmd = "SELECT * FROM index_basic_sse"
df = pd.read_sql(sql=sql_cmd, con=engine, index_col='ts_code')

In [29]:
df

,name,market,publisher,category,base_date,base_point,list_date
ts_code,,,,,,,
000001.SH,上证指数,SSE,中证指数有限公司,综合指数,19901219,100.00,19910715
000001CNY01.SH,上证指数全收益,SSE,中证指数有限公司,综合指数,20200721,3320.89,20201009
000002.SH,上证A指,SSE,中证指数有限公司,规模指数,19901219,100.00,19920221
000003.SH,B股指数,SSE,中证指数有限公司,规模指数,19920221,100.00,19920817
000004.SH,工业指数,SSE,中证指数有限公司,行业指数,19930430,1358.78,19930503
...,...,...,...,...,...,...,...
n00155.SH,市值百强净收益,SSE,中证指数有限公司,规模指数,20031231,1000.00,20200311
n00852.SH,中证1000净收益,SSE,中证指数有限公司,规模指数,20041231,1000.00,20141017
n21459.SH,中证800(净)USD,SSE,中证指数有限公司,规模指数,20041231,1000.00,20070115
n21460.SH,中证1000(净)USD,SSE,中证指数有限公司,规模指数,20041231,1000.00,20141017
T00901.SH,小康指数(旧)(退市),SSE,中证指数有限公司,主题指数,20051230,1000.00,20060109

In [33]:
import akshare as ak

      序号      代码     名称      最新价    涨跌幅     涨跌额        成交量           成交额  \
0      1  000131   上证高新  2051.67  15.79  279.81    9773132  3.664357e+10
1      2  000039   上证信息  3177.55  14.22  395.50   24141625  8.291509e+10
2      3  000077   信息等权  3729.47  14.13  461.87   24141625  8.291509e+10
3      4  000111  380信息  6683.31  12.87  762.00   10316273  3.094252e+10
4      5  000998  中证TMT  1848.31  12.75  208.98  106849670  2.417169e+11
..   ...     ...    ...      ...    ...     ...        ...           ...
174  175  000022   沪公司债   244.17   0.02    0.06     123756  1.163441e+08
175  176  000923   公司债指   244.84   0.02    0.06    1214556  1.174247e+09
176  177  000061  沪企债30   175.09   0.02    0.04          0           NaN
177  178  000116  信用100   192.82  -0.01   -0.02      72056  6.720675e+07
178  179  000012   国债指数   216.95  -0.29   -0.63    7495950  7.690696e+09

        振幅       最高       最低       今开       昨收    量比
0    11.16  2056.15  1858.41  1886.94  1771.86  1.89
1     9.78  3177.55  2905.51  2946.04  2782.05  2.43
2     9.55  3729.47  3417.50  3461.56  3267.60  2.43
3     8.82  6683.31  6160.83  6269.47  5921.31  1.85
4     9.03  1848.58  1700.53  1725.40  1639.33  2.31
..     ...      ...      ...      ...      ...   ...
174   0.00   244.17   244.16   244.17   244.11  0.10
175   0.00   244.85   244.84   244.84   244.78  0.19
176   0.00   175.09   175.09   175.09   175.05   NaN
177   0.05   192.89   192.80   192.88   192.84  0.91
178   0.29   217.47   216.83   217.47   217.58  0.61

[179 rows x 14 columns]

In [39]:
stock_zh_index_spot_em_df = ak.stock_zh_index_spot_em(symbol="上证系列指数")

In [40]:
stock_zh_index_spot_em_df

,序号,代码,名称,最新价,涨跌幅,涨跌额,成交量,成交额,振幅,最高,最低,今开,昨收,量比
0,1,000131,上证高新,2051.67,15.79,279.81,9773132,3.664357e+10,11.16,2056.15,1858.41,1886.94,1771.86,1.89
1,2,000039,上证信息,3177.55,14.22,395.50,24141625,8.291509e+10,9.78,3177.55,2905.51,2946.04,2782.05,2.43
2,3,000077,信息等权,3729.47,14.13,461.87,24141625,8.291509e+10,9.55,3729.47,3417.50,3461.56,3267.60,2.43
3,4,000111,380信息,6683.31,12.87,762.00,10316273,3.094252e+10,8.82,6683.31,6160.83,6269.47,5921.31,1.85
4,5,000998,中证TMT,1848.31,12.75,208.98,106849670,2.417169e+11,9.03,1848.58,1700.53,1725.40,1639.33,2.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,175,000022,沪公司债,244.17,0.02,0.06,123756,1.163441e+08,0.00,244.17,244.16,244.17,244.11,0.10
175,176,000923,公司债指,244.84,0.02,0.06,1214556,1.174247e+09,0.00,244.85,244.84,244.84,244.78,0.19
176,177,000061,沪企债30,175.09,0.02,0.04,0,NaN,0.00,175.09,175.09,175.09,175.05,NaN
177,178,000116,信用100,192.82,-0.01,-0.02,72056,6.720675e+07,0.05,192.89,192.80,192.88,192.84,0.91
178,179,000012,国债指数,216.95,-0.29,-0.63,7495950,7.690696e+09,0.29,217.47,216.83,217.47,217.58,0.61

In [41]:
stock_zh_index_spot_em_df.to_csv('index.csv')