In [1]:
import akshare as ak

In [5]:
stock_us_hist_df = ak.stock_us_hist(symbol='105.TSLA', period="daily", start_date="20230101", end_date="20231231", adjust="qfq")

In [2]:
us_stocks = ak.stock_us_spot_em()

In [4]:
us_stocks.to_csv("us_stocks.csv")

In [6]:
stock_us_hist_df

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2023-01-03,118.47,108.10,118.80,104.64,231402818,2.524493e+10,11.50,-12.24,-15.08,7.31
1,2023-01-04,109.11,113.64,114.59,107.52,180388976,2.018416e+10,6.54,5.12,5.54,5.70
2,2023-01-05,110.51,110.34,111.75,107.16,157986324,1.730507e+10,4.04,-2.90,-3.30,4.99
3,2023-01-06,103.00,113.06,114.39,101.81,220911051,2.417144e+10,11.40,2.47,2.72,6.98
4,2023-01-09,118.96,119.77,123.52,117.11,190283951,2.306158e+10,5.67,5.93,6.71,6.01
...,...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,256.76,252.54,258.22,251.37,93370094,2.382638e+10,2.69,-0.77,-1.96,2.94
246,2023-12-26,254.49,256.61,257.97,252.91,86892382,2.227889e+10,2.00,1.61,4.07,2.73
247,2023-12-27,258.35,261.44,263.34,257.52,106494359,2.788416e+10,2.27,1.88,4.83,3.35
248,2023-12-28,263.66,253.18,265.13,252.71,113619943,2.936631e+10,4.75,-3.16,-8.26,3.57
249,2023-12-29,255.10,248.48,255.19,247.43,100891578,2.525650e+10,3.07,-1.86,-4.70,3.17

In [9]:
tesla_df = stock_us_hist_df[['日期','开盘','最高','最低','收盘','成交量']].rename(columns={'日期':'date', '开盘':'open', '最高':'high', '最低':'low', '收盘':'close', '成交量':'volume'})

In [10]:
tesla_df

           date    open    high     low   close     volume
0    2023-01-03  118.47  118.80  104.64  108.10  231402818
1    2023-01-04  109.11  114.59  107.52  113.64  180388976
2    2023-01-05  110.51  111.75  107.16  110.34  157986324
3    2023-01-06  103.00  114.39  101.81  113.06  220911051
4    2023-01-09  118.96  123.52  117.11  119.77  190283951
..          ...     ...     ...     ...     ...        ...
245  2023-12-22  256.76  258.22  251.37  252.54   93370094
246  2023-12-26  254.49  257.97  252.91  256.61   86892382
247  2023-12-27  258.35  263.34  257.52  261.44  106494359
248  2023-12-28  263.66  265.13  252.71  253.18  113619943
249  2023-12-29  255.10  255.19  247.43  248.48  100891578

[250 rows x 6 columns]

In [12]:
tesla_df.to_csv('tesla.csv', index=False)